* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", Arial, sans-serif;
  font-size: 1rem;
  background-color: rgb(250, 251, 255);
}
a {
  text-decoration: none;
}

/* HEADER */
header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header .header-main {
  background: linear-gradient(
    135deg,
    rgba(201, 231, 242, 1) 40%,
    rgba(98, 186, 218, 1) 100%
  );
}

/* NAVBAR */
nav {
  height: 5vh;
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2rem 4rem;
  font-size: 0.875rem;
  font-weight: 500;
}
nav .logo {
  font-size: 1.25rem;
  font-weight: 700;
}
nav a {
  color: black;
}
nav a:hover {
  text-decoration: underline;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav ul li select {
  border: none;
  background: unset;
  font-size: 0.875rem;
  font-weight: 500;
}
nav ul li select:hover {
  cursor: pointer;
}
/* NAVBAR BUTTONS */
nav .nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav .nav-btns .signup-btn {
  padding: 0.7rem 1rem;
  color: white;
  background-color: rgba(79, 70, 186, 1);
}
nav .nav-btns .signup-btn:hover {
  text-decoration: none;
  background-color: rgb(68, 60, 159);
}

/* HERO SECTION */
header .hero {
  height: 75vh;
  padding: 2rem 4rem;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
.hero-decorations .dec-1 {
  position: absolute;
  bottom: 1rem;
  left: -1.7rem;
}
.hero-decorations .dec-2 {
  position: absolute;
  top: 10rem;
  right: 0;
}
.hero-decorations .dec-3 {
  position: absolute;
  bottom: -10rem;
  right: -0.5rem;
}
header .hero .hero-content {
  width: 45%;
  position: relative;
  z-index: 1;
}
.hero-content h1 {
  font-size: 2.7rem;
  line-height: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
header .hero .hero-content .hero-para {
  max-width: 70%;
  line-height: 1.5rem;
}
header .hero .hero-img {
  height: auto;
  width: 30%;
  position: absolute;
  bottom: -10rem;
  right: 16rem;
  z-index: 0;
}

.hero .hero-btns {
  margin-top: 2rem;
}
.hero .hero-btns .get-started-btn {
  padding: 0.8rem 1.5rem;
  color: white;
  background-color: rgb(56, 52, 168);
  margin-right: 2rem;
  border-radius: 35px;
}
.hero .hero-btns .play-btn {
  color: rgb(56, 52, 168);
}
.hero .hero-btns .play-btn img {
  width: 3rem;
  vertical-align: middle;
}
header .hero .badges {
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  margin-top: 2rem;
}
header .hero .badges .badge {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  color: rgb(117, 112, 149);
}
header .hero .badges div img {
  vertical-align: middle;
}

/* COMPANIES SECTION */
.companies {
  padding: 2rem;
  height: 18vh;
  width: 100%;
  background-color: #f5f6f8;
}
header .companies p {
  text-align: center;
  padding: 0.5rem;
}
header .companies .comp-logos img {
  width: 7rem;
}
.companies .comp-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 962px) {
  .hero h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  header {
    height: auto;
  }
  .comp-logos {
    height: auto;
  }
  .comp-logos img {
    width: 5rem;
  }
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 800;
}
h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem 0;
}
p {
  margin-top: 1rem;
  line-height: 1.5rem;
}

/* Automated portfolio tracking */
.portfolio-track {
  padding: 4rem;
}

.portfolio-track .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio-track .section-header div {
  max-width: 40%;
}
.portfolio-track .section-header blockquote {
  max-width: 35%;
  background-color: rgb(232, 234, 237);
  border-radius: 20px;
  padding: 1.5rem;
  position: relative;
}
.portfolio-track .section-header blockquote img {
  position: absolute;
  top: -1.3rem;
  left: 1.5rem;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}
.services .service-card {
  border: 2px solid rgb(232, 234, 237);
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  height: 23rem;
  width: 23rem;
}
.service-card .card-content {
  text-align: center;
  padding-top: 2rem;
}
.service-card .card-numb {
  text-align: left;
  font-weight: 700;
}

/* Track your payments */
.track-payments {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-around;
}
.track-payments img {
  width: 55%;
}
.track-payments p:nth-child(1){
  color: rgb(56, 52, 168);
}
.track-payments hr{
  margin: 2rem 0;
}
.track-payments ul{
  list-style: url('../assets/icons/orange-tick.svg') inside;
  vertical-align: text-bottom;
}