* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  height: 100vh;
}
header .header-main {
  background: linear-gradient(
    135deg,
    rgba(201, 231, 242, 1) 40%,
    rgba(98, 186, 218, 1) 100%
  );
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}
nav .logo {
  font-size: 1.25rem;
  font-weight: 700;
}
nav a:hover {
  text-decoration: underline;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav ul li select {
  border: none;
  background: unset;
  font-size: 0.875rem;
  font-weight: 500;
}
nav ul li select:hover {
  cursor: pointer;
}
/* NAVBAR BUTTONS */
nav .nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav .nav-btns .signup-btn {
  padding: 0.8rem 1.5rem;
  color: white;
  background-color: rgba(79, 70, 186, 1);
}
