* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", Arial, sans-serif;
  font-size: 1rem;
  background-color: rgb(250, 251, 255);
}
a {
  text-decoration: none;
}

/* HEADER */
header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    rgba(201, 231, 242, 1) 40%,
    rgba(98, 186, 218, 1) 100%
  );
}

/* NAVBAR */
nav {
  height: 5vh;
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  font-size: 0.875rem;
  font-weight: 500;
}
nav .logo {
  font-size: 1.25rem;
  font-weight: 700;
}
nav a {
  color: black;
}
nav a:hover {
  text-decoration: underline;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav ul li select {
  border: none;
  background: unset;
  font-size: 0.875rem;
  font-weight: 500;
}
nav ul li select:hover {
  cursor: pointer;
}
/* NAVBAR BUTTONS */
nav .nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav .nav-btns .signup-btn {
  padding: 0.7rem 1rem;
  color: white;
  background-color: rgba(79, 70, 186, 1);
}
nav .nav-btns .signup-btn:hover {
  text-decoration: none;
  background-color: rgb(68, 60, 159);
}

/* HERO SECTION */
header .hero {
  height: 75vh;
  padding: 2rem 4rem;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
.hero-decorations .dec-1 {
  position: absolute;
  bottom: 1rem;
  left: -1.7rem;
}
.hero-decorations .dec-2 {
  position: absolute;
  top: 10rem;
  right: 0;
}
.hero-decorations .dec-3 {
  position: absolute;
  bottom: -10rem;
  right: -0.5rem;
}
header .hero .hero-content {
  width: 45%;
  position: relative;
  z-index: 1;
}
.hero-content h1 {
  font-size: 2.7rem;
  line-height: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
header .hero .hero-content .hero-para {
  max-width: 70%;
  line-height: 1.5rem;
}
header .hero .hero-img {
  width: 30%;
  position: absolute;
  bottom: -10rem;
  right: 16rem;
  z-index: 0;
}

.hero .hero-btns {
  margin-top: 2rem;
}
.hero .hero-btns .get-started-btn {
  padding: 0.8rem 1.5rem;
  color: white;
  display: inline-block;
  background-color: rgb(56, 52, 168);
  margin-right: 2rem;
  border-radius: 35px;
  transition: transform 0.3s ease;
}
.hero .hero-btns a:hover {
  transform: scale(1.05);
}
.hero .hero-btns .play-btn {
  padding: 0.8rem 0 1rem;
  color: rgb(56, 52, 168);
  display: inline-block;
}
.hero .hero-btns .play-btn img {
  width: 3rem;
  vertical-align: middle;
}
header .hero .badges {
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  margin-top: 2rem;
}
header .hero .badges p {
  color: rgb(116, 111, 148);
  padding-left: 1.5rem;
  position: relative;
}
header .hero .badges p::before {
  content: "";
  background: url("../assets/icons/tick.svg") no-repeat;
  background-size: contain;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 15%;
  left: 0;
}

/* COMPANIES SECTION */
header .companies {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: auto;
  width: 100%;
  background-color: #f5f6f8;
}
header .companies .comp-logos img {
  width: 7rem;
}
.companies .comp-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 800;
}
h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem 0;
}
p {
  margin-top: 1rem;
  line-height: 1.5rem;
}

/* Automated portfolio tracking */
.portfolio-track {
  padding: 4rem;
}

.portfolio-track .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.portfolio-track .section-header div {
  width: 40%;
}
.section-header .testimonial {
  width: 35%;
}
.testimonial {
  background-color: rgb(232, 234, 237);
  border-radius: 20px;
  padding: 1.5rem;
  position: relative;
}
.testimonial .testimonial-icon {
  width: 3rem;
  position: absolute;
  top: -1.3rem;
  left: 1.5rem;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.services .service-card {
  border: 2px solid rgb(232, 234, 237);
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  height: 23rem;
  width: 23rem;
}
.service-card .card-content {
  text-align: center;
  padding-top: 2rem;
}
.service-card .card-numb {
  text-align: left;
  font-weight: 700;
}

.why-us {
  color: rgb(56, 52, 168);
}

/* Track your payments */
.track-payments {
  padding: 4rem;
  display: flex;
  justify-content: space-around;
}
.track-payments img {
  width: 55%;
}
.track-payments hr {
  margin: 2rem 0;
}
.track-payments ul {
  list-style: none;
}
.track-payments ul li {
  position: relative;
  padding-left: 1.7rem;
  line-height: 2.3rem;
}
.track-payments ul li::before {
  content: "";
  background: url("../assets/icons/orange-tick.svg") no-repeat;
  background-size: contain;
  width: 1.2rem;
  height: 1rem;
  position: absolute;
  top: 26%;
  left: 0;
  display: block;
}

/* SAVE MONEY */
.save-money {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
}
.save-money-content {
  width: 45%;
}
.save-money .save-money-img {
  width: 45%;
}
.save-money .testimonial {
  margin: 2rem 0;
  width: 100%;
}

/* FEATURES */
.features {
  padding: 4rem;
  background-color: #c9e7f2;
  position: relative;
}
.features-dec {
  position: absolute;
  bottom: 3rem;
  left: -3rem;
}
.features .features-header p {
  max-width: 50%;
}
.features-cards {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.features-cards .horizontal-cards {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.horizontal-cards .features-card {
  border: 2px solid rgb(232, 234, 237);
  border-radius: 10px;
  background-color: white;
  padding: 1.5rem;
  width: 19rem;
  height: 20rem;
}
.vertical-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  flex: 1 1 30%;
}
.vertical-cards h3 {
  background-color: white;
  padding: 1.5rem;
  border: 2px solid rgb(232, 234, 237);
  border-radius: 10px;
  width: clamp(15rem, 80%, 28rem);
  max-width: 100%;
}

/* TESTIMONIALS */
.testimonials {
  position: relative;
}
.testimonials-dec {
  position: absolute;
  top: 5rem;
  right: 7rem;
}
.testimonials-header {
  padding: 4rem;
  padding-bottom: 2rem;
}
.testimonials-header p {
  max-width: 53%;
}
.testimonials-content {
  padding: 1.5rem 0 2rem 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.4rem;
  flex-shrink: 0;
  overflow-x: scroll;
}
.testimonials-content .user-img {
  width: 50%;
}
.testimonials-content .testimonial {
  background-color: white;
  min-width: 40rem;
  height: 17rem;
  border: 2px solid rgb(232, 234, 237);
  display: flex;
  gap: 1rem;
}
.testimonials-content::-webkit-scrollbar {
  display: none;
}
.testimonials-content:hover {
  scrollbar-width: thin;
}
.testimonials-content:hover::-webkit-scrollbar {
  display: block;
}
.testimonials-content .testimonial p:nth-of-type(1) {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.testimonials-content .testimonial p:nth-of-type(2) {
  font-weight: 600;
}

.testimonials .stats {
  background-color: #3834a8;
  color: white;
  padding: 2rem;
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.stats p:nth-child(1) {
  max-width: 10%;
}
.stats h3 {
  font-size: 3rem;
  line-height: 1rem;
}
.stats div img {
  width: 1rem;
  margin-right: 0.3rem;
}
.stats div p {
  display: inline-block;
}
.stats .stat-dec {
  width: 2.1rem;
  position: absolute;
  top: 0.3rem;
  right: 0;
}

/* RECENT BLOGS */
.blogs {
  padding: 4rem;
}
.blogs .most-recent-blog {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  /* height: 12rem; */
  position: relative;
  z-index: 1;
}
.blogs .most-recent-blog::after {
  content: "";
  background: url("../assets/blogs/blog1.png") no-repeat;
  background-size: cover;
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.blogs .most-recent-blog .blog-content {
  width: 45%;
}
.blog-content {
  background-color: white;
  padding: 1.7rem;
}
.blog-content p {
  font-weight: 600;
}

.blogs .other-blogs {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.blogs .other-blogs .other-blog {
  height: 23.5rem;
  width: 30%;
  height: 24rem;
  background-color: white;
  position: relative;
}

.blogs .other-blogs .other-blog:nth-of-type(1)::after {
  content: "";
  display: block;
  background: url("../assets/blogs/blog2.png") no-repeat;
  background-size: cover;
  height: 45%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.blogs .other-blogs .other-blog:nth-of-type(2)::after {
  content: "";
  display: block;
  background: url("../assets/blogs/blog3.png") no-repeat;
  background-size: cover;
  height: 45%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.blogs .other-blogs .other-blog:nth-of-type(3)::after {
  content: "";
  display: block;
  background: url("../assets/blogs/blog4.png") no-repeat;
  background-size: cover;
  height: 45%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* FAQs */
.faqs {
  padding: 4rem;
}
.faqs .faqs-content {
  padding: 2rem;
  padding-right: 4rem;
  height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.faqs .faqs-content h3 {
  font-size: 1.15rem;
}
.faqs-main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.faqs-main .faq {
  width: 100%;
  background-color: white;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(232, 234, 237);
  border-radius: 10px;
  position: relative;
}
.faqs-main .faq img {
  position: absolute;
  top: 1.6rem;
  right: 1rem;
}

.more-faqs {
  background-color: white;
  width: 33%;
  height: auto;
  border: 2px solid rgb(232, 234, 237);
  border-radius: 10px;
  padding: 2rem 1.5rem;
}
.more-faqs-content {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.more-faqs-content p {
  font-weight: 500;
}
.more-faqs-btn {
  display: inline-block;
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  background-color: rgb(255, 127, 92);
  color: white;
  padding: 1.1rem;
}

/* CTA */
.cta {
  height: 60vh;
  margin: 4rem;
  background: url("../assets/cta-bg.png") no-repeat scroll;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.cta h2 {
  max-width: 60%;
  text-align: center;
}
.cta .cta-btn {
  background-color: rgb(255, 127, 92);
  padding: 1rem 2rem;
  border-radius: 10px;
  color: white;
}

/* FOOTER */
footer {
  padding: 4rem;
  height: 100vh;
}
footer h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer-main .profile p {
  color: rgb(116, 111, 148);
}
.footer-main .profile .social-medias {
  margin-top: 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.footer-main a {
  color: black;
}
.footer-main a:hover {
  text-decoration: underline;
}
.footer-main > div {
  max-width: 20%;
}

.footer-main .company .company-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-main .resources .resources-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subscribe form {
  display: flex;
  align-items: center;
}
.footer-main .subscribe input {
  padding: 1rem;
  background-color: rgb(237, 237, 255);
  border: none;
  width: 100%;
}
.footer-main .subscribe label {
  background-color: rgb(56, 52, 168);
  color: white;
  padding: 0.8rem 1.5rem;
}
.footer-main .subscribe label:hover {
  cursor: pointer;
  background-color: rgb(46, 42, 138);
}
.footer-main .subscribe {
  max-width: 30%;
}
.footer-main .subscribe p {
  color: rgb(138, 136, 153);
}
footer hr {
  margin: 3rem 0;
}
footer .copyright {
  text-align: center;
}

@media (max-width: 962px) {
  body {
    font-size: 0.75rem;
  }
  .hero-content {
    width: auto;
  }
  .hero-content h1 {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }
  h2 {
    font-size: 2.2rem !important;
    line-height: 2rem !important;
  }
  h3 {
    font-size: 1rem !important;
    line-height: 1rem !important;
  }
  header {
    height: auto;
  }

  .track-payments img {
    overflow: hidden;
  }
}
